#**pandas Olympics Analysis (1896 - 2016)**

> INVOLVE & EVOLVE

> RUN ENGINES

#1. Load the Dataset

In [ ]:
import pandas as pd  #importing pandas package
df = pd.read_csv("/content/athlete_events.csv") #loading dataframe.

In [ ]:
#Viewing DataFrame
df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

#2.Data Exploration

In [ ]:
# Display the dataset information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      271116 non-null  int64
 1   Name    271116 non-null  object
 2   Sex     271116 non-null  object
 3   Age     261642 non-null  float64
 4   Height  210945 non-null  float64
 5   Weight  208241 non-null  float64
 6   Team    271116 non-null  object
 7   NOC     271116 non-null  object
 8   Games   271116 non-null  object
 9   Year    271116 non-null  int64
 10  Season  271116 non-null  object
 11  City    271116 non-null  object
 12  Sport   271116 non-null  object
 13  Event   271116 non-null  object
 14  Medal   39783 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

In [ ]:
# Display basic statistics of the dataset
df.describe()

,ID,Age,Height,Weight,Year
count,271116.000000,261642.000000,210945.000000,208241.000000,271116.000000
mean,68248.954396,25.556898,175.338970,70.702393,1978.378480
std,39022.286345,6.393561,10.518462,14.348020,29.877632
min,1.000000,10.000000,127.000000,25.000000,1896.000000
25%,34643.000000,21.000000,168.000000,60.000000,1960.000000
50%,68205.000000,24.000000,175.000000,70.000000,1988.000000
75%,102097.250000,28.000000,183.000000,79.000000,2002.000000
max,135571.000000,97.000000,226.000000,214.000000,2016.000000

#3.Data Cleaning

In [ ]:
# Check for missing values
missing_values = df.isnull().sum()

In [ ]:
# Display columns with missing values
print(missing_values[missing_values > 0])

Age         9474
Height     60171
Weight     62875
Medal     231333
dtype: int64

In [ ]:
age_mean=df['Age'].mean()
height_mean=df['Height'].mean()
weight_mean=df['Weight'].mean()

In [ ]:
# Fill or drop missing values as needed (for simplicity, we'll drop rows with missing values)
df['Age'].fillna(value=age_mean,inplace=True)
df['Height'].fillna(value=height_mean,inplace=True)
df['Weight'].fillna(value=height_mean,inplace=True)
df['Medal'].fillna(value='no_medal',inplace=True)

In [ ]:
# Check for missing values
missing_values = df.isnull().sum()
print(missing_values[missing_values > 0])

Series([], dtype: int64)

In [ ]:
df_cleaned = df.copy() #giving a copy of cleaned DataFrame.

In [ ]:
df_cleaned.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.00000,80.00000,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,no_medal
1,2,A Lamusi,M,23.0,170.00000,60.00000,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,no_medal
2,3,Gunnar Nielsen Aaby,M,24.0,175.33897,175.33897,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,no_medal
3,4,Edgar Lindenau Aabye,M,34.0,175.33897,175.33897,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.00000,82.00000,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,no_medal

#4. Data Analysis

**a. Total Medals by Country**

In [ ]:
# Group by country and count the total number of medals
medals_by_country = df_cleaned.groupby('Team')['Medal'].count().reset_index()

# Sort the results in descending order
medals_by_country = medals_by_country.sort_values(by='Medal', ascending=False)

# Display the top 10 countries with the most medals
print(medals_by_country.head(10))

               Team  Medal
1095  United States  17847
361          France  11988
412   Great Britain  11404
506           Italy  10260
398         Germany   9326
173          Canada   9279
513           Japan   8289
1010         Sweden   8052
65        Australia   7513
476         Hungary   6547

In [ ]:
medals_by_country.shape[0]

1184

In [ ]:
#I want to medals by India,China,Pakisthan,Bangladesh,Srilanka,Nepal
Neighbour_countries=["India","China","Pakistan","Bangladesh","Sri Lanka","Nepal"]
for i in Neighbour_countries:
  print(medals_by_country[medals_by_country['Team']==i])

      Team  Medal
486  India   1400
      Team  Medal
198  China   4975
         Team  Medal
769  Pakistan    562
          Team  Medal
86  Bangladesh     55
          Team  Medal
987  Sri Lanka    146
      Team  Medal
701  Nepal     94

In [ ]:
# how many gold , silver , bronge medals won by India
medals_by_country_years = df_cleaned.groupby(['Team','Medal']).count().reset_index()

medals_by_country_years[medals_by_country_years["Team"]=='India']

,Team,Medal,ID,Name,Sex,Age,Height,Weight,NOC,Games,Year,Season,City,Sport,Event
707,India,Bronze,40,40,40,40,40,40,40,40,40,40,40,40,40
708,India,Gold,138,138,138,138,138,138,138,138,138,138,138,138,138
709,India,Silver,19,19,19,19,19,19,19,19,19,19,19,19,19
710,India,no_medal,1203,1203,1203,1203,1203,1203,1203,1203,1203,1203,1203,1203,1203

In [ ]:
ind_medals_till_2016=df_cleaned[df_cleaned.Team == 'India']['Medal'].value_counts()
ind_medals_till_2016

Medal
no_medal    1203
Gold         138
Bronze        40
Silver        19
Name: count, dtype: int64

***success rate of indian players till 2016 olmypics***

In [ ]:
no_medal=ind_medals_till_2016.no_medal

In [ ]:
tot=ind_medals_till_2016.sum()

In [ ]:
success_rate = ((tot - no_medal)/no_medal)*100
print("success rate of indian players till 2016 olmypics",success_rate,'%')

success rate of indian players till 2016 olmypics 16.375727348295925 %

**b. Medals Over Time**

In [ ]:
# Group by year and count the total number of medals
medals_by_year = df_cleaned.groupby('Year')['Medal'].count().reset_index()

# Display the trend of medals over the years
print(medals_by_year)

    Year  Medal
0   1896    380
1   1900   1936
2   1904   1301
3   1906   1733
4   1908   3101
5   1912   4040
6   1920   4292
7   1924   5693
8   1928   5574
9   1932   3321
10  1936   7401
11  1948   7480
12  1952   9358
13  1956   6434
14  1960   9235
15  1964   9480
16  1968  10479
17  1972  11959
18  1976  10502
19  1980   8937
20  1984  11588
21  1988  14676
22  1992  16413
23  1994   3160
24  1996  13780
25  1998   3605
26  2000  13821
27  2002   4109
28  2004  13443
29  2006   4382
30  2008  13602
31  2010   4402
32  2012  12920
33  2014   4891
34  2016  13688

**c. Medals by Sport**

In [ ]:
# Group by sport and count the total number of medals
medals_by_sport = df_cleaned.groupby(['Sport','Team'])['Medal'].count().reset_index()

# Sort the results in descending order
medals_by_sport = medals_by_sport.sort_values(by='Medal', ascending=False)

# Display the top 10 sports with the most medals
print(medals_by_sport.head(10))

           Sport           Team  Medal
479    Athletics  United States   3202
340    Athletics  Great Britain   2240
2194  Gymnastics  United States   1939
4212    Swimming  United States   1622
2126  Gymnastics         France   1576
334    Athletics         France   1494
2139  Gymnastics          Italy   1345
4087    Swimming  Great Britain   1291
338    Athletics        Germany   1254
2133  Gymnastics        Hungary   1242

In [ ]:
#I want to medals by India,China,Pakisthan,Bangladesh,Srilanka,Nepal
for i in Neighbour_countries:
  print(medals_by_sport[medals_by_sport['Team']==i])

                     Sport   Team  Medal
2268                Hockey  India    345
353              Athletics  India    269
3731              Shooting  India    105
5126             Wrestling  India    104
2135            Gymnastics  India     88
1015                Boxing  India     56
149                Archery  India     56
1945              Football  India     51
4611                Tennis  India     42
1407               Cycling  India     40
4976         Weightlifting  India     40
4099              Swimming  India     36
533              Badminton  India     27
4325          Table Tennis  India     26
4883            Water Polo  India     19
41           Alpine Skiing  India     16
2403                  Judo  India     15
634             Basketball  India     12
3285               Sailing  India     12
2840                Rowing  India     10
1630         Equestrianism  India     10
105               Alpinism  India      7
2546                  Luge  India      4
2066                  Golf  India      3
1284  Cross Country Skiing  India      3
235       Art Competitions  India      2
1533                Diving  India      2
                          Sport   Team  Medal
2109                 Gymnastics  China    641
4052                   Swimming  China    506
304                   Athletics  China    457
3699                   Shooting  China    236
1712                    Fencing  China    227
619                  Basketball  China    223
3980              Speed Skating  China    176
2806                     Rowing  China    170
3832  Short Track Speed Skating  China    140
1263       Cross Country Skiing  China    136
1916                   Football  China    129
767                    Biathlon  China    129
4821                 Volleyball  China    126
1512                     Diving  China    112
1134                   Canoeing  China    111
124                     Archery  China     98
2255                     Hockey  China     97
1374                    Cycling  China     96
4941              Weightlifting  China     93
2362                       Judo  China     82
5094                  Wrestling  China     81
2208                   Handball  China     81
4871                 Water Polo  China     76
4233      Synchronized Swimming  China     72
4288               Table Tennis  China     64
3101                    Sailing  China     60
3963                   Softball  China     60
2301                 Ice Hockey  China     58
975                      Boxing  China     50
507                   Badminton  China     49
1811             Figure Skating  China     48
2016           Freestyle Skiing  China     39
4556                     Tennis  China     35
2735        Rhythmic Gymnastics  China     35
18                Alpine Skiing  China     32
595                    Baseball  China     24
2621          Modern Pentathlon  China     19
1331                    Curling  China     17
4433                  Taekwondo  China     16
4719               Trampolining  China     14
3934               Snowboarding  China     13
1598              Equestrianism  China     11
4749                  Triathlon  China     11
3893                Ski Jumping  China      8
695            Beach Volleyball  China      8
219            Art Competitions  China      5
2055                       Golf  China      4
              Sport      Team  Medal
2279         Hockey  Pakistan    245
413       Athletics  Pakistan    130
1059         Boxing  Pakistan     48
5161      Wrestling  Pakistan     32
1447        Cycling  Pakistan     31
4155       Swimming  Pakistan     25
3773       Shooting  Pakistan     22
5017  Weightlifting  Pakistan     12
3445        Sailing  Pakistan     10
2887         Rowing  Pakistan      3
66    Alpine Skiing  Pakistan      2
4358   Table Tennis  Pakistan      1
2450           Judo  Pakistan      1
           Sport        Team  Medal
278    Athletics  Bangladesh     28
4030    Swimming  Bangladesh     13
3685    Shooting  Bangladesh      8
2098  Gymnastics  Bangladesh      3
113      Archery  Bangladesh      2
2050        Golf  Bangladesh      1
              Sport       Team  Medal
456       Athletics  Sri Lanka     67
4191       Swimming  Sri Lanka     25
3800       Shooting  Sri Lanka     22
1088         Boxing  Sri Lanka     14
576       Badminton  Sri Lanka      5
5042  Weightlifting  Sri Lanka      4
3564        Sailing  Sri Lanka      4
1562         Diving  Sri Lanka      2
1471        Cycling  Sri Lanka      1
5182      Wrestling  Sri Lanka      1
2482           Judo  Sri Lanka      1
                     Sport   Team  Medal
399              Athletics  Nepal     39
1050                Boxing  Nepal     15
4144              Swimming  Nepal     12
3765              Shooting  Nepal      7
5009         Weightlifting  Nepal      7
1302  Cross Country Skiing  Nepal      5
2440                  Judo  Nepal      4
4480             Taekwondo  Nepal      3
106               Alpinism  Nepal      1
172                Archery  Nepal      1

**d. Medals by Gender**

In [ ]:
# Group by gender and count the total number of medals
medals_by_gender = df_cleaned.groupby(['Sex','Team'])['Medal'].count().reset_index()

# Display the medal counts by gender
print(medals_by_gender.head(10))

  Sex                 Team  Medal
0   F          Afghanistan      5
1   F              Albania     27
2   F              Algeria     94
3   F       American Samoa      7
4   F               Ancora      1
5   F              Andorra     42
6   F             Angelita      1
7   F               Angola    129
8   F  Antigua and Barbuda     37
9   F            Argentina    643

In [ ]:
for i in Neighbour_countries:
  print(medals_by_gender[medals_by_gender['Team']==i])

    Sex   Team  Medal
158   F  India    241
847   M  India   1159
    Sex   Team  Medal
66    F  China   2673
566   M  China   2302
     Sex      Team  Medal
247    F  Pakistan     11
1125   M  Pakistan    551
    Sex        Team  Medal
23    F  Bangladesh     13
459   M  Bangladesh     42
     Sex       Team  Medal
318    F  Sri Lanka     44
1332   M  Sri Lanka    102
     Sex   Team  Medal
228    F  Nepal     24
1058   M  Nepal     70

#YOUR TASK : you should give all nieghbour countries olympic analysis,**without-repeatition-of-HEADER**
and
#**mention the gold, silver and Bronge medal recieved by individuals respectively the count and rank of India in that year.**
After completion of these tag work in my comments.